# Environment
.env
.env.*
!.env.example

# Virtual environment
H/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
logs/
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
